/* Global */

#name {
    color: green;
    font-family: 'Lobster', cursive;
    font-size: 85px;
    float: right;
    margin-right: 5%;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

#bio-pic {
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

header {
    text-align: center;
    clear: both;
}
/* Nav */

a:link,
a:visited {
  text-decoration: none;
  color: #bf4158;
}

a:focus {
  background: green;
}

a:hover {
  background: #a6242f;
  color: #466ba6;
}

a:active {
  background: red;
}


/* Bio */