/****************************
  Global Styles
****************************/
.name {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 5.063em;
	margin-bottom: 1%;
}

.quote {
	font-size: 1.5em;
}

.left {
	float: left;
	margin-left: 5%;
	margin-right: 2.5%;
	margin-top: 5%;
}

.right {
	float: right;
	margin-left: 2.5%;
	margin-right: 5%;
	margin-top: 5%;
}

.intro {
	font-size: 1em;
}

header {
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #373c29;
}

.clearfix {
	clear: both;
}

body {
	background-image: url("../img/bg-darkgray.jpg");
	font-family: 'Roboto', sans-serif;
}

div.container {
	background-color: #373c29;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
	padding: 10px;
}

h2 {
	font-family: 'Lobster Two', cursive;
	color: gray;
	font-size: 3.375em;
}

h3 {
	font-family: 'Lobster Two', cursive;
	color: gray;
	font-size: 2.25em;
}
/****************************
  End global styles
****************************/

/****************************
  Layout for home
****************************/
.rightSide {
    width: 50%;
	float: right;
}

.leftSide {
    width: calc(50% - 10px);
	margin-right: 10px;
	float: left;
}
/****************************
  End layout for home
****************************/

/****************************
  Navigation bar 
****************************/
nav {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5%;
	margin-left: 5%;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-weight: 800;
	font-variant: normal;
	background-color: #373c29;
}

.navHome { 
	padding: 10px 2% 10px 2%;
}

.navGallery {
	padding: 10px 2% 10px 2%;
}

.navStyle {
	padding: 10px 2% 10px 2%;
}

.navContact{
	padding: 10px 2% 10px 2%;
}

a:link,
a:visited {
  text-decoration: none;
  color: #6f7a50;
}

a:hover {
	color: white;
}

nav a:hover {
  color: white;
  background-color: gray;
}

.navBar {
	clear: both;
}
/****************************
  End Navigation bar 
****************************/

/****************************
  Layout for Style Tile
  Feel free to change 
****************************/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/* Set Your Own Typography */


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Clearfix - Oo Not Remove */
.clearfix {
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

/* Color palette */
.style-tile .color-1 {
	background: #373c29;
}

.style-tile .color-2 {
	background: white;	
}

.style-tile .color-3 {
	background: gray;
}

.style-tile .pattern-1 {
	background-image: url("../img/bg-darkgray.jpg")
}

.style-tile .pattern-2 {

}

.style-tile .pattern-3 {

}

body.style-tile .header {
	color: white;
	font-family: 'Great Vibes', cursive;
	font-size: 5.063em;
}

body.style-tile .primary {
	font-family: 'Lobster Two', cursive;
	color: gray;
	font-size: 3.375em;
}

body.style-tile .secondary {
	font-family: 'Lobster Two', cursive;
	color: gray;
	font-size: 2.25em;
}
/****************************
  End Style Tile layout
****************************/

/****************************
  Media queries
****************************/
@media screen (max-width: 600) {
    .leftSide {
        width: 90%;
    }
    
    .rightSide {
        width: 90%;
    }
}
/****************************
  End media queries
****************************/









